@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained-dark.css");

headerbar,
.titlebar:not(headerbar) {
    background: linear-gradient(to bottom, #353535, #353535);
    border-radius: 2px 2px 0 0;     }
    .titlebar:backdrop,
    headerbar:backdrop {    
        background: linear-gradient(to bottom, #353535, #353535);
        transition: 200ms ease-out; }
    .titlebar:not(headerbar) entry, .titlebar entry,
    headerbar entry {
        min-height: 24px; }
headerbar button {
    background: linear-gradient(to bottom, #353535, #353535);
    box-shadow: none; }  
    .default-decoration.titlebar,
    headerbar.default-decoration,
    .default-decoration.titlebar button.titlebutton,
    headerbar.default-decoration button.titlebutton {
        min-height: 24px; }


headerbar.default-decoration button.titlebutton,
.titlebar.default-decoration button.titlebutton {  
    padding: 0;
    min-width: 0px;
    min-height: 0px;
    margin: 2px; 
    box-shadow: none; }  
    headerbar button.titlebutton,
    .titlebar button.titlebutton {
        padding: 0;
        margin: 2px;
        min-width: 18px;
        box-shadow: none;
        border-color: transparent;
        background-color: transparent;
        background-image: none;}    
    headerbar button.titlebutton:hover,
    .titlebar button.titlebutton:hover,
    headerbar button.titlebutton:active,
    headerbar button.titlebutton:checked,
    .titlebar button.titlebutton:active,
    .titlebar button.titlebutton:checked {
        color: transparent;
        border-color: transparent;
        background-color: transparent;} 
    headerbar button.titlebutton.restore,
    headerbar button.titlebutton.close,
    headerbar button.titlebutton.maximize,
    headerbar button.titlebutton.minimize,
    .titlebar button.titlebutton.restore,
    .titlebar button.titlebutton.close,
    .titlebar button.titlebutton.maximize,
    .titlebar button.titlebutton.minimize { 
        color: transparent;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        border-width: 0; }
    headerbar button.titlebutton.restore:backdrop,
    headerbar button.titlebutton.close:backdrop,
    headerbar button.titlebutton.maximize:backdrop,
    headerbar button.titlebutton.minimize:backdrop,
    .titlebar button.titlebutton.restore:backdrop,
    .titlebar button.titlebutton.close:backdrop,
    .titlebar button.titlebutton.maximize:backdrop,
    .titlebar button.titlebutton.minimize:backdrop {
        opacity: 1; }
      
headerbar button.titlebutton.close,
.titlebar button.titlebutton.close {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-close.svg"), url("title-buttons/titlebutton-close@2.svg")); }

headerbar button.titlebutton.close:backdrop,
.titlebar button.titlebutton.close:backdrop {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-close-backdrop.svg"), url("title-buttons/titlebutton-close-backdrop@2.svg")); }

headerbar button.titlebutton.close:hover,
.titlebar button.titlebutton.close:hover {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-close-hover.svg"), url("title-buttons/titlebutton-close-hover@2.svg")); }

headerbar button.titlebutton.close:active,
.titlebar button.titlebutton.close:active {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-close-active.svg"), url("title-buttons/titlebutton-close-active@2.svg")); }

headerbar button.titlebutton.maximize,
.titlebar button.titlebutton.maximize {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-maximize.svg"), url("title-buttons/titlebutton-maximize@2.svg")); }

headerbar button.titlebutton.maximize:backdrop,
.titlebar button.titlebutton.maximize:backdrop {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-maximize-backdrop.svg"), url("title-buttons/titlebutton-maximize-backdrop@2.svg")); }

headerbar button.titlebutton.maximize:hover,
.titlebar button.titlebutton.maximize:hover {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-maximize-hover.svg"), url("title-buttons/titlebutton-maximize-hover@2.svg")); }

headerbar button.titlebutton.maximize:active,
.titlebar button.titlebutton.maximize:active {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-maximize-active.svg"), url("title-buttons/titlebutton-maximize-active@2.svg")); }

headerbar button.titlebutton.minimize,
.titlebar button.titlebutton.minimize {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-minimize.svg"), url("title-buttons/titlebutton-minimize@2.svg")); }

headerbar button.titlebutton.minimize:backdrop,
.titlebar button.titlebutton.minimize:backdrop {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-minimize-backdrop.svg"), url("title-buttons/titlebutton-minimize-backdrop@2.svg")); }

headerbar button.titlebutton.minimize:hover,
.titlebar button.titlebutton.minimize:hover {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-minimize-hover.svg"), url("title-buttons/titlebutton-minimize-hover@2.svg")); }

headerbar button.titlebutton.minimize:active,
.titlebar button.titlebutton.minimize:active {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-minimize-active.svg"), url("title-buttons/titlebutton-minimize-active@2.svg")); }

headerbar button.titlebutton.restore,
.titlebar button.titlebutton.restore {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-restore.svg"), url("title-buttons/titlebutton-restore@2.svg")); }

headerbar button.titlebutton.restore:backdrop,
.titlebar button.titlebutton.restore:backdrop {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-restore-backdrop.svg"), url("title-buttons/titlebutton-restore-backdrop@2.svg")); }

headerbar button.titlebutton.restore:hover,
.titlebar button.titlebutton.restore:hover {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-restore-hover.svg"), url("title-buttons/titlebutton-restore-hover@2.svg")); }

headerbar button.titlebutton.restore:active,
.titlebar button.titlebutton.restore:active {

  background-image: -gtk-scaled(url("title-buttons/titlebutton-restore-active.svg"), url("title-buttons/titlebutton-restore-active@2.svg")); }

.fullscreen headerbar button.titlebutton.maximize,
.maximized headerbar button.titlebutton.maximize, .fullscreen
.titlebar button.titlebutton.maximize,
.maximized
.titlebar button.titlebutton.maximize {
  background-image: -gtk-scaled(url("title-buttons/titlebutton-maximize.svg"), url("title-buttons/titlebutton-maximize@2.svg"));
}

.fullscreen headerbar button.titlebutton.maximize:backdrop,
.maximized headerbar button.titlebutton.maximize:backdrop, .fullscreen
.titlebar button.titlebutton.maximize:backdrop,
.maximized
.titlebar button.titlebutton.maximize:backdrop {
  background-image: -gtk-scaled(url("title-buttons/titlebutton-maximize-backdrop.svg"), url("title-buttons/titlebutton-maximize-backdrop@2.svg"));
}

.fullscreen headerbar button.titlebutton.maximize:hover,
.maximized headerbar button.titlebutton.maximize:hover, .fullscreen
.titlebar button.titlebutton.maximize:hover,
.maximized
.titlebar button.titlebutton.maximize:hover {
  background-image: -gtk-scaled(url("title-buttons/titlebutton-restore-hover.svg"), url("title-buttons/titlebutton-restore-hover@2.svg"));
}

.fullscreen headerbar button.titlebutton.maximize:active,
.maximized headerbar button.titlebutton.maximize:active, .fullscreen
.titlebar button.titlebutton.maximize:active,
.maximized
.titlebar button.titlebutton.maximize:active {
  background-image: -gtk-scaled(url("title-buttons/titlebutton-restore-active.svg"), url("title-buttons/titlebutton-restore-active@2.svg"));
}